<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>HelloJSF</title>
</h:head>
<h:body>
    <p:panel header="Hello, #{userMB.username}">
        <p:link outcome="sets" value="All sets"/>
        <br/>
        <p:link outcome="inventory" value="User inventory"/>
        <br/>
        <p:link outcome="upload-csv" value="Upload inventory CSV file"/>
    </p:panel>
</h:body>
</html>