<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Card Inventory</title>
</h:head>
<h:body>
    <p:panel header="Inventory for user #{userMB.username}">
        <h:form>
            <p:dataTable var="inventoryCard" value="#{inventoryMB.inventoryCards}"
                         size="small"
                         emptyMessage="No inventory cards found for current user"
                         filteredValue="#{inventoryMB.filteredInventoryCards}">
                <p:column field="card.name" headerText="Card name"/>
                <p:column field="card.setCode" headerText="Set"/>
                <p:column field="card.colors" headerText="Color(s)"/>
                <p:column field="quantity" headerText="Quantity"/>
                <p:column field="quantityFoil" headerText="Foil"/>
            </p:dataTable>
        </h:form>
    </p:panel>
</h:body>
</html>