<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Set</title>
    <style type="text/css">
    button.ui-button {
        margin-right: .5rem;
    }

    </style>
</h:head>
<h:body>
    <p:panel header="Card list">
        <!-- here we need to set an id to the form to be able to reference the growl component later -->
        <h:form id="cardlist-form">
            <p:growl id="rawr" life="2000"/>
            <p:dataTable var="card" value="#{setViewerMB.cards}"
                         paginator="true" paginatorPosition="bottom" rows="30"
                         size="small"
                         emptyMessage="No cards found with given criteria."
                         filteredValue="#{setViewerMB.filteredCards}">
                <p:column field="collectorNumber" headerText="#"/>
                <p:column field="name" headerText="Name" filterMatchMode="contains"/>
                <p:column field="colors" headerText="Colors"/>
                <p:column field="manaCost" headerText="Mana Cost"/>
                <p:column field="typeLine" headerText="Type"/>
                <p:column field="rarity" headerText="Rarity"/>
                <p:column>
                    <!-- reference the growl via :containerid:growlid -->
                    <p:commandButton value="Add 1" styleClass="ui-button-outlined"
                                     id="ajax-add"
                                     update=":cardlist-form:rawr"
                                     action="#{setViewerMB.addOne(card.scryfallId, false)}"/>
                    <p:commandButton value="Add 1 foil" styleClass="ui-button-outlined"
                                     id="ajax-add-foil"
                                     rendered="#{card.foil}"
                                     update=":cardlist-form:rawr"
                                     action="#{setViewerMB.addOne(card.scryfallId, true)}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
</h:body>
</html>