<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>All card sets</title>
</h:head>
<h:body>
    <p:panel header="Card sets">
        <h:form>
            <p:dataTable var="cardset" value="#{setsMB.sets}"
                         paginator="true" paginatorPosition="bottom" rows="30"
                         size="small"
                         emptyMessage="No card sets found with given criteria."
                         filteredValue="#{setsMB.filteredSets}">
                <p:column field="name" headerText="Name" filterBy="#{cardset.name}">
                    <h:outputLink value="/app/setlist.xhtml?s=#{cardset.code}"> #{cardset.name}</h:outputLink>
                </p:column>
                <p:column field="code" headerText="Code" filterBy="#{cardset.code}"/>
                <p:column field="setType" headerText="Type" filterBy="#{cardset.setType}"/>
                <p:column field="cardCount" headerText="Cards"/>
                <p:column field="releasedAt" headerText="Release date"/>
                <p:column field="block" headerText="Block"/>
            </p:dataTable>
        </h:form>
    </p:panel>
</h:body>
</html>