<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Upload Inventory File</title>
</h:head>
<h:body>
    <p:panel header="Upload an inventory CSV file">
        <h:form enctype="multipart/form-data">
            <p:fileUpload value="#{uploadCsvMB.file}" mode="simple" skinSimple="true"/>
            <p:commandButton value="Upload" ajax="false" action="#{uploadCsvMB.upload}" styleClass="p-mt-3 ui-button-outlined p-d-block"/>
        </h:form>
    </p:panel>
</h:body>
</html>