<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Welcome to MTG inventory</title>
</h:head>
<h:body>
    <p:panel header="Welcome">
        <p:link outcome="login" value="Login"/>
    </p:panel>
</h:body>
</html>