<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Login</title>
</h:head>
<h:body>
    <div class="card">
        <h:form>
            <h2>Username</h2>
            <p:inputText id="username" value="#{loginMB.username}"/>

            <h2>Password</h2>
            <p:password id="password" value="#{loginMB.password}"/>

            <div style="margin-top: 1em;">
                <p:commandButton action="#{loginMB.doLogin}" ajax="false" value="Login"/>
            </div>
        </h:form>
    </div>
</h:body>
</html>